body {
    padding : 30px;
    min-height: 75rem;
    padding-top: 4.5rem;
}

footer {
    position: fixed;
    height: 35px;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

#princing-row{
    margin-top: 20px;
}

#page-title{
    width: 60%;
    margin: auto;
    text-align: center;
    text-decoration-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.anchors{
    padding-top: 60px;
    height: 1000px;
}

#anchors-container{
    height: 100%;
}

#anchor-title{
    width: 60%;
    margin: auto;
    text-align: center;
    text-decoration-style: solid;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#navbar-btn{
    margin-left: 20px;
    margin-right: 20px;
}

#btn{
    margin-top: 20px;
}



