<!DOCTYPE html>
<html>

<head>
    <title>Data Exploration - Machine Learning Plateform</title>
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <a class="navbar-brand mb-0 h1" href="#">Machine Learning Plateform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dataset')}}">Dataset Upload<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('exploration')}}">Data Exploration<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('visualization')}}">Data Visualization<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('model')}}">Model Training<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('prediction')}}">Prediction & Export<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('settings')}}">Settings<span class="sr-only"></span></a>
            </li>
            </ul>
            <a id= 'navbar-btn' href="{{url_for('logout')}}" class="btn btn-danger">Disconnect</a>
        </div>
	</nav>

</head>

<body> 

    <!-- Flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Flash message-->

    <!-- Main Panel-->
    <div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Sidebar menu -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <h3 style = 'text-align: center'>{%if username %} {{username}} {% endif %}</h3>
            </li>
            <li class="nav-item">
                <hr>

                <!-- Missing Values Selectors -->
                <h5 style= "text-align:center">Missing Values</h5>
                <hr>

                <form method="POST" >
                <div class="form-group">

                    <!-- Drop NaN -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="dropnaSwitch" value= true name ="dropna_checkbox"
                        onclick="isChecked('dropna_checkbox', 'dropna_col_sel_div')">
                        <label class="custom-control-label" for="dropnaSwitch">
                            Drop NaN Values
                        </label>
                    </div>

                    <!-- Displayed only if DroplNaN is checked -->
                    <div id = 'dropna_col_sel_div'>
                        <select name="dropna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <!-- Drop NaN -->

                    <!-- Fill NaN -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="fillnaSwitch" value= true name ="fillna_checkbox"
                        onclick="isChecked('fillna_checkbox','fill_values')">
                        <label class="custom-control-label" for="fillnaSwitch">
                            Fill NaN Values
                        </label>
                    </div>

                    <!-- Displayed only if fillNaN is checked -->
                    <div id= 'fill_values' style = 'display:none'>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="fillbymeanSwitch" value= true name ="fillnabymean_checkbox"
                            onclick="isChecked('fillnabymean_checkbox','fillna_by_mean_col')">
                            <label class="custom-control-label" for="fillbymeanSwitch">
                                Fill by Mean
                            </label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="fillbymedianSwitch" value= true name ="fillnabymedian_checkbox"
                            onclick="isChecked('fillnabymedian_checkbox','fillna_by_mean_col')">
                            <label class="custom-control-label" for="fillbymedianSwitch">
                                Fill by Median
                            </label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="fillbyvalueSwitch" value= true name ="fillnabyvalue_checkbox"
                            onclick="isChecked('fillnabyvalue_checkbox','fillna_by_val_col')">
                            <label class="custom-control-label" for="fillbyvalueSwitch">
                                Fill by Value
                            </label>
                        </div>

                    </div>

                    <!-- Displayed only when fill mean is checked is checked -->
                    <div id = 'fillna_by_mean_col'>
                        <select name="fillna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                            <option value="all">All</option>
                            {% for col in col_selec %}
                            <option value="{{ col.name }}">{{ col.name }}</option>
                            {% endfor %}
                        </select>
                        <hr>
                    </div>

                    <!-- Displayed only when fill value is checked is checked -->
                    <div id = 'fillna_by_val_col'>
                        <input name = 'fill_value' type="text" class="form-control" placeholder="Enter Value">
                        <select name="fillna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                            <option value="all">All</option>
                            {% for col in col_selec %}
                            <option value="{{ col.name }}">{{ col.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <!-- Fill NaN -->

                    <!-- Clean Data Btn -->
                    <button name= "submit" type="submit" class="btn btn-info btn-block" style = 'margin-top:10px;' value = 'cleanNan'>
                    Clean NaN
                    </button>

                </div>
                </form>
                <!-- Missing Values Selectors -->
                <hr>
            </li>

            <!-- Data Cleaning Panel -->
            <li>
                <h5 style= "text-align:center">Data Cleaning Panel</h5>
                <hr>

                <!-- Drop duplicates Btn -->
                <form method="POST">
                        <h6> Drop duplicates</h6>
                        <div id = 'duplicate_cols'>
                            <select name="dup_col_selector"  class="selectpicker form-control" data-live-search="true" title = 'Subset'>
                                <option value="all">All</option>
                                {% for col in col_selec %}
                                <option value="{{ col.name }}">{{ col.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <button name= "submit" type="submit" class="btn btn-info btn-block" style = 'margin-top:10px;' value = "dropDup">
                    Drop duplicates
                    </button>
                </form>
                <hr>
                <!-- Drop duplicates Btn -->

                <!-- Drop Columns Btn -->
                <form method="POST">
                        <h6> Drop column(s)</h6>
                        <div id = 'drop_cols'>
                            <select name="drop_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                                <option value="all">All</option>
                                {% for col in col_selec %}
                                <option value="{{ col.name }}">{{ col.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <button name= "submit" type="submit" class="btn btn-info btn-block" style = 'margin-top:10px;' value = "dropCol">
                    Drop Column(s)
                    </button>
                </form>
                <!-- Drop Columns Btn -->

                <hr>
            </li>
            <!-- Data Cleaning Panel -->

        </ul>

        </div>
        </nav>
        <!-- Sidebar menu -->

        <!-- Main page -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <h1 class="h2">Data Exploration</h1>
        </div>

            <div>
                <h6 style = "display:inline-block">{%if df_name%}{{df_name}}{% endif %}</h6>
                <h6 style = "display:inline-block">{%if nb_col%} | {{nb_col}} Columns{% endif %}</h6>
                <h6 style = "display:inline-block">{%if nb_rows%} | {{nb_rows}} Rows{% endif %}</h6>
            </div>

            <div class="table-responsive" style = 'height: 300px; width: 100%; border-style:solid; border-width:2px;'>
                {% for table in dataset %}
                {{ table|safe }}
                {% endfor %}
            </div>

            <hr>

        </main>
        <!-- Main page -->

    </div>
    </div>

</body>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "{{ url_for('static', filename = 'main.js') }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!--Scripts-->

<!-- Footer -->
<footer class="fixed-bottom">
  <!-- Copyright -->
  <div>© 2020 Copyright: <a href="https://www.linkedin.com/in/meidi-kadri/">Meidi KADRI</a></div>
  <!-- Copyright -->
</footer> 
<!-- Footer -->

</html>