<!DOCTYPE html>
<html>

<head>
    <title>Data Exploration - Machine Learning Plateform</title>
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <a class="navbar-brand mb-0 h1" href="#">Machine Learning Plateform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dataset')}}">Dataset Upload<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('exploration')}}">Data Exploration<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('visualization')}}">Data Visualization<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('model')}}">Model Training<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('prediction')}}">Prediction & Export<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('settings')}}">Settings<span class="sr-only"></span></a>
            </li>
            </ul>
            <a id= 'navbar-btn' href="{{url_for('logout')}}" class="btn btn-danger">Disconnect</a>
        </div>
	</nav>

</head>

<body> 

    <!-- Flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Flash message-->

    <!-- Main Panel-->
    <div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Sidebar menu -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column h-100">

                <li>
                    <h5 style = 'text-align:center'>
                    {%if username %} {{username}} {% endif %}
                    </h5>
                    <hr color = 'darkgrey' style='margin-top:20px;'>
                </li>

                <li class="nav-item">
                    <h6 style = 'text-align: center'>Control Panel</h6>
                    <hr color = 'darkgrey' style='margin-top:20px;'>
                </li>

                <li class="nav-item">

                    <!-- Graphs Selectors -->
                    <form method="POST" >
                    <div class="form-group">

                    <!-- Heatmap -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="heatSwitch" value= true name ="heat_checkbox"
                        onclick="isChecked('heat_checkbox', 'heat_col_sel_div')">
                        <label class="custom-control-label" for="heatSwitch">
                            Heatmap
                        </label>
                    </div>

                    <!-- Displayed only if Heatmap is checked -->
                    <div id = 'heat_col_sel_div'>
                        <select name="heat_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                        </select>
                        <button button name = 'graph' value = 'heat' type="submit" class="btn btn-info btn-block" >NaN Heatmap</button>
                    </div>
                    <hr>
                    <!-- Heatmap -->

                    <!-- Hist -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="histSwitch" value= true name ="hist_checkbox"
                        onclick="isChecked('hist_checkbox', 'hist_col_sel_div')">
                        <label class="custom-control-label" for="histSwitch">
                            Histograms
                        </label>
                    </div>

                    <!-- Displayed only if Hist is checked -->
                    <div id = 'hist_col_sel_div'>
                        <select name="dropna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                        </select>
                        <button button name = 'graph' value = 'hist' type="submit" class="btn btn-info btn-block" >Hist</button>
                    </div>
                    <hr>
                    <!-- Hist -->

                    <!-- Mosaic -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="mosaicSwitch" value= true name ="mosaic_checkbox"
                        onclick="isChecked('mosaic_checkbox', 'mosaic_col_sel_div')">
                        <label class="custom-control-label" for="mosaicSwitch">
                            Mosaic
                        </label>
                    </div>

                    <!-- Displayed only if Hist is checked -->
                    <div id = 'mosaic_col_sel_div'>
                        <select name="dropna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                        </select>
                        <button name = 'graph' value = 'mosaic' type="submit" class="btn btn-info btn-block" >Mosaic</button>
                    </div>
                    <hr>
                    <!-- Mosaic -->

                    <!-- Plot -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="plotSwitch" value= true name ="plot_checkbox"
                        onclick="isChecked('plot_checkbox', 'plot_col_sel_div')">
                        <label class="custom-control-label" for="plotSwitch">
                            Plot
                        </label>
                    </div>

                    <!-- Displayed only if Hist is checked -->
                    <div id = 'plot_col_sel_div'>
                        <select name="dropna_col_selector"  class="selectpicker form-control" multiple data-live-search="true" title = 'Select columns'>
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                        </select>
                        <button name = 'graph' value = 'plot' type="submit" class="btn btn-info btn-block" >Plot</button>
                    </div>
                    <hr>
                    <!-- Plot -->

                    </div>
                    </form>
                    <!-- Graphs Selectors -->
                    <hr>
                </li>

            </ul>

        </div>
        </nav>
        <!-- Sidebar menu -->

        <!-- Main page -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Data Visualization</h1>

                <div class="btn-group mr-2"> 
                    <button class="btn btn-sm btn-outline-secondary">Save Graph as Image</button>
                    <button class="btn btn-sm btn-outline-secondary">Save Page as PDF</button>
                </div>
            </div>

            <div class="container-fluid h-100" style = "width:100%;">
                <div>
                    {%if df_name%} <h6>Dataset : {{df_name}}</h6>{% endif %}
                </div>

                <div >
                            {% if heatmap %}
                                <img src="data:image/png;base64,{{ heatmap }}">
                            {% endif %}
                </div>

                <div>
                            {% if hist %}
                                <img src="data:image/png;base64,{{ hist }}">
                            {% endif %}
                </div>

                <div>
                            {% if corr_matrix %}
                                <img src="data:image/png;base64,{{ corr_matrix }}">
                            {% endif %}
                </div>
                
                <div>
                            {% if mosaic %}
                                <img src="data:image/png;base64,{{ mosaic }}">
                            {% endif %}
                </div>





            </div>


        </main>
        <!-- Main page -->

    </div>
    </div>

</body>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "{{ url_for('static', filename = 'main.js') }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!--Scripts-->

<!-- Footer -->
<footer class="fixed-bottom">
  <!-- Copyright -->
  <div>© 2020 Copyright: <a href="https://www.linkedin.com/in/meidi-kadri/">Meidi KADRI</a></div>
  <!-- Copyright -->
</footer> 
<!-- Footer -->

</html>