<!DOCTYPE html>
<html>
<head>
    <title>Login Page - Machine Learning Plateform</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="log-container">
		{% if valid %}
			<div class="alert alert-success">
				<h2>{{valid}}</h2>
			</div>
		{% endif %}
		{% if invalid %}
			<div class="alert alert-danger">
				<h2>{{invalid}}</h2>
			</div>
		{% endif %}

      <form action="#" method="post">
        <h2>Please sign in</h2>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email"  placeholder="Email address" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="pass"  placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>

	<div><a href="{{url_for('change_password')}}">Forgot Your Password ?</a></div>

<footer>Copyright Meidi KADRI 2020</footer> 

</body>
</html>