<!DOCTYPE html>
<html>

<head>
    <title>Data Exploration - Machine Learning Plateform</title>
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <a class="navbar-brand mb-0 h1" href="#">Machine Learning Plateform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dataset')}}">Dataset Upload<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('exploration')}}">Data Exploration<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('visualization')}}">Data Visualization<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('model')}}">Model Training<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('prediction')}}">Prediction & Export<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('settings')}}">Settings<span class="sr-only"></span></a>
            </li>
            </ul>
            <a id= 'navbar-btn' href="{{url_for('logout')}}" class="btn btn-danger">Disconnect</a>
        </div>
	</nav>

</head>

<body> 

    <!-- Flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Flash message-->

    <!-- Main Panel-->
    <div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Sidebar menu -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <h3 style = 'text-align: center'>{%if username %} {{username}} {% endif %}</h3>
            </li>
            <li class="nav-item">
                <h4>Control Panel</h4>
                <hr>
                <!-- Target Selectors -->
                <div >
                    <h6>Label 'y'</h6>
                    <select id = 'target' name="fillna_col_selector" 
                    class="selectpicker form-control" data-live-search="true" title = 'Select your Label'
                    onchange = "selected('target', 'target_selected')">
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                </div>
                <!-- Target Selectors -->

                <!-- Features Selectors -->
                <div >
                    <h6>Features 'X'</h6>
                    <select id = 'features' name="fillna_col_selector" 
                    class="selectpicker form-control" multiple data-live-search="true" title = 'Select your Label'
                    onchange = "selected('features', 'features_selected')">
                        <option value="all">All</option>
                        {% for col in col_selec %}
                        <option value="{{ col.name }}">{{ col.name }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                </div>
                <!-- Features Selectors -->

                <h6>Split Train / Test</h6>
                <div class="d-flex justify-content-center my-4">
                    <span class="font-weight-bold blue-text mr-2 mt-1">0</span>
                    <form class="form-group">
                        <input type="range" min = "0" max = "1" step="0.01" class="custom-range" id="splitValueInput"
                        onchange = "selected('splitValueInput', 'split_value')">
                    </form>
                    <span class="font-weight-bold blue-text ml-2 mt-1">1</span>
                </div>


                <!-- Models Selectors -->
                <form method="POST" >
                <div class="form-group">
                    <h6>Regression</h6>
                    <select id="reg_model" name="reg_model"
                    class="selectpicker form-control" multiple data-live-search="true" title = 'Select model(s)'
                    onchange = "selected('reg_model', 'regmod_selected')">
                        <option value="all">All</option>
                        {% for model in reg_models %}
                        <option value="{{ model.name }}">{{ model.name }}</option>
                        {% endfor %}
                    </select>

                    <hr>
                    <h6>Classification</h6>
                    <select id="class_model" name="class_model"
                    class="selectpicker form-control" multiple data-live-search="true" title = 'Select model(s)'
                    onchange = "selected('class_model', 'classmod_selected')">
                        <option value="all">All</option>
                        {% for model in classif_model %}
                        <option value="{{ model.name }}">{{ model.name }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-info btn-block" style = 'margin-top:10px;'>TRAIN</button>
                </div>

                <hr>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="users"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                ...
                </a>
            </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>...</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
            </h6>
            <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ...
                </a>
            </li>
            </ul>
        </div>
        </nav>
        <!-- Sidebar menu -->

        <!-- Main page -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <h1 class="h2">Model Training</h1>
        </div>

        <div>
            <span style = 'display: inline-block;font-weight: bold;'>Label [y] : <h6 style = 'font-weight: normal;'
            id="target_selected"></h6></span>
        </div>

        <div>
            <span style = 'display: inline-block;font-weight: bold;'>Features [X] : <h6 style = 'font-weight: normal;'
            id="features_selected"></h6></span>
        </div>

        <div>
            <span style = 'display: inline-block;font-weight: bold;'>Split : <h6 style = 'font-weight: normal;'
            id="split_value"></h6></span>
        </div>

        <div>
            <span style = 'display: inline-block; font-weight: bold;'>Regression Model : <h6 style = 'font-weight: normal;'
            id="regmod_selected"></h6></span>
        </div>

        <div>
            <span style = 'display: inline-block; font-weight: bold;'>Classification Model : <h6 style = 'font-weight: normal;'
            id="classmod_selected"></h6></span>
        </div>

            <div>
                {%if df_name%}{{df_name}}{% endif %}
                <h6 style = 'display: inline-block'>{%if nb_col%} | {{nb_col}} Columns{% endif %}</h6>
                <h6 style = 'display: inline-block'>{%if nb_rows%} | {{nb_rows}} Rows{% endif %}</h6>
            </div>
        
            <div class="table-responsive" style = 'height: 300px; width: 100%; border-style:solid; border-width:2px;'>
                {% for table in dataset %}
                {{ table|safe }}
                {% endfor %}
            </div>

            <hr>

        </main>
        <!-- Main page -->

    </div>
    </div>

</body>

<!--Scripts-->
<script src = "{{ url_for('static', filename = 'main.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!--Scripts-->

<!-- Footer -->
<footer class="fixed-bottom">
  <!-- Copyright -->
  <div>© 2020 Copyright: <a href="https://www.linkedin.com/in/meidi-kadri/">Meidi KADRI</a></div>
  <!-- Copyright -->
</footer> 
<!-- Footer -->

</html>