<!DOCTYPE html>
<html>

<head>
    <title>Plateform - Machine Learning Plateform</title>
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
	<a class="navbar-brand mb-0 h1" href="#">Machine Learning Plateform</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('exploration')}}">Data Exploration</a>
		</li>        
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('visualization')}}">Data Visualization</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('model')}}">Model Training</a>
		</li>
        <li class="nav-item">
			<a class="nav-link" href="{{url_for('prediction')}}">Prediction & Export</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="#">Settings<span class="sr-only">(current)</span></a>
		</li>        
		</ul>

        <a id= 'navbar-btn' href="{{url_for('logout')}}" class="btn btn-danger">Disconnect</a>

	</div>
	</nav>

</head>

<body>

    <h1 id='page-title'>Settings</h1>

    <div class="card shadow w-75 mx-auto" class="d-flex justify-content-around">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Profile</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h4>Username : </h4>
             {% if username %}
                {{username}}
             {% endif %}
        </li>
        <li class="list-group-item">
            <h4>Email : </h4>
             {% if email %}
                {{email}}
             {% endif %}
        </li>
        <li class="list-group-item">
            <h4>Function : </h4>
             {% if function %}
                {{function}}
             {% endif %}
        </li>
        <div class="card-body">
            <div class="d-flex justify-content-around" >
                <a href="change_pass" class="btn btn-primary">Change Password</a>
                <a href="{{url_for('update_infos')}}" class="btn btn-info">Update Informations</a>
                    {% if info_updated %}
                        <div class="alert alert-success">
                            <h2>{{info_updated}}</h2>
                        </div>
                    {% endif %}
                <a href="{{url_for('delete_account')}}" class="btn btn-danger">Delete account</a>
            </div>
        </div>
    </ul>
    </div>

    <h2 id='page-title'>Packages</h2>

    <div class="row" id="princing-row">
    <div class="container" >
      <div class="card-deck mb-3 text-center mx-auto" class="align-self-center">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-4 shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">Get started</button>
          </div>
        </div>
        <div class="card mb-4 shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-success">Contact us</button>
          </div>
        </div>
      </div>
    </div>

</body>

<footer>Copyright Meidi KADRI 2020</footer> 

</html>